.btn {
  text-decoration: none;
  background-color: #263238;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  padding: 15px 52px;
}

body {
  background: #E5E5E5;
  font-family: "Poppins";
}

.container {
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.cards {
  width: 100%;
  background-color: #F5F5F5;
  border-radius: 10px;
  position: relative;
}

.cards img {
  position: absolute;
}

.cards h3 {
  font-weight: 600;
  font-size: 30px;
  color: #263238;
}

.cards p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8F95A5;
  font-size: 18px;
}

.header {
  position: relative;
}

.site-header {
  width: 1350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: antiquewhite;
  position: fixed;
  z-index: 9999;
}

.site-header__link {
  border: 2px solid #263238;
  border-radius: 5px;
  padding: 12px 24px;
  text-align: center;
  color: #000;
  font-size: 24px;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  color: #263238;
  font-family: "Poppins";
  font-size: 20px;
}

.site-nav__item {
  margin-right: 30px;
}

.site-nav__item-link {
  color: #263238;
}

.site-nav__item-link:hover {
  color: #000;
}

.check-bars {
  display: none;
}

.site-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 115px;
  position: relative;
}

.hero-list__icon {
  position: absolute;
  left: 440.25px;
  top: 207px;
}

.hero-list__title {
  font-weight: 600;
  font-size: 64px;
  width: 386px;
  line-height: 80px;
}

.hero-list__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  width: 580px;
  color: #8F95A5;
  margin-bottom: 93px;
}

.hero-list__link {
  padding: 32px 118px;
  border-radius: 15px;
}

.skills {
  margin-top: 147px;
}

.skills-title {
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 96px;
}

.skills-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-cards .card-list {
  padding: 429px 45px 92px 43px;
}

.skills-cards .card-list__img {
  top: 35px;
  left: 23px;
}

.skills-cards .card-list__text {
  width: 347px;
  margin-bottom: 59px;
}

.skills-cards .second-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills-cards .second-card .card-boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills-cards .second-card .card-boxs .card-list1 {
  padding: 251px 41px 44px 41px;
  margin-left: 18px;
}

.skills-cards .second-card .card-boxs .card-list1__img {
  top: 4px;
  left: 122px;
}

.skills-cards .second-card .card-boxs .card-list1__img2 {
  top: 9px;
  left: 1px;
}

.skills-cards .second-card .card-boxs .card-list1__text {
  width: 347px;
  margin-bottom: 48px;
}

.skills-cards .second-card .card-boxs .card-list1__text2 {
  width: 355px;
  margin-bottom: 48px;
}

.skills-cards .second-card .card-list3 {
  max-width: 835px;
  height: 343px;
  margin: 20px 0 0 18px;
  padding: 43px 0 0 48px;
}

.skills-cards .second-card .card-list3__img {
  top: 44px;
  left: 478px;
}

.skills-cards .second-card .card-list3__text {
  width: 345px;
  margin-bottom: 40px;
}

.about {
  margin-top: 252px;
  margin-bottom: 222px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-card {
  margin-right: 116px;
}

.about__title {
  font-weight: 600;
  font-size: 48px;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8F95A5;
  width: 635px;
  margin-bottom: -20px;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.about__list li {
  text-align: center;
}

.about__list li h3 {
  font-weight: 600;
  font-size: 48px;
  margin-bottom: 0;
}

.about__list li p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8F95A5;
}

.pricing {
  margin-bottom: 261px;
}

.pricing__title {
  text-align: center;
  font-weight: 600;
  font-size: 48px;
}

.pricing-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing-cards .card-box {
  margin-top: 71.08px;
}

.pricing-cards .card-box img {
  margin-bottom: 40px;
}

.pricing-cards .card-box2 {
  margin-top: 107.03px;
}

.pricing-cards .card-box2 img {
  margin-bottom: 34px;
}

.pricing-cards .card-box2 p {
  margin-bottom: 50px;
}

.pricing-cards .card-box3 {
  margin-top: 82.07px;
}

.pricing-cards .card-box3 p {
  margin-bottom: 51px;
}

.pricing-cards div img {
  padding-left: 15px;
}

.pricing-cards div h3 {
  font-weight: 600;
  font-size: 30px;
  color: #263238;
}

.pricing-cards div p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8F95A5;
  width: 440px;
}

.pricing-cards div a {
  padding: 2px 18px;
  background: #EEEEEE;
  border-radius: 5px;
  font-weight: 400;
  font-size: 30px;
  color: #263238;
}

.pricing-cards div a span {
  font-size: 18px;
  color: #546269;
}

.footer-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-hero img {
  margin-right: 111px;
}

.footer-hero .contact h2 {
  font-weight: 600;
  font-size: 48px;
}

.footer-hero .contact p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8F95A5;
  width: 756px;
}

.footer-hero .contact input {
  padding: 18px 103px;
  border-radius: 10px;
  border: 1px solid #8F95A5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 31px;
}

.footer-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  color: #8F95A5;
}

.footer-bottom ul .bottom__item1 {
  list-style-type: none;
}

.footer-bottom ul li {
  margin-right: 35px;
}

.footer-bottom ul li a {
  color: #8F95A5;
}

hr {
  width: 1338px;
  height: 1px;
  background: #C4C4C4;
}

@media only screen and (max-width: 992px) {
  .container {
    max-width: 930px;
  }
  .site-header {
    width: 930px;
  }
  .site-header__logo {
    width: 89px;
    height: 45px;
  }
  .site-header .site-nav__list {
    font-size: 16px;
  }
  .site-header .site-nav__item {
    margin-right: 20px;
  }
  .site-header__link {
    font-size: 18px;
  }
  .site-hero .hero-list__icon {
    width: 58.71px;
    height: 58.71px;
    left: 331px;
    top: 181px;
  }
  .site-hero .hero-list__title {
    font-size: 48px;
    width: 290px;
    line-height: 64px;
  }
  .site-hero .hero-list__text {
    font-size: 20px;
    width: 450px;
    margin-bottom: 55px;
  }
  .site-hero .hero-list__link {
    padding: 22px 79px;
  }
  .site-hero__img {
    margin-top: 50px;
    width: 460px;
    height: 460px;
  }
  .skills {
    margin-top: 72px;
  }
  .skills-title {
    font-size: 36px;
    margin-bottom: 53px;
  }
  .skills p {
    font-size: 14px;
    line-height: 21px;
  }
  .skills .skills-cards .card-list {
    width: 290px;
    padding: 260px 13px 52px 28px;
  }
  .skills .skills-cards .card-list__img {
    width: 260px;
    height: 260px;
    top: 0;
    left: 22px;
  }
  .skills .skills-cards .card-list__text {
    width: 262px;
    margin-bottom: 60px;
  }
  .skills .skills-cards .second-card .card-list1 {
    width: 270px;
    padding: 180px 20px 49px 29px;
    margin-left: 10px;
  }
  .skills .skills-cards .second-card .card-list1__img {
    width: 205px;
    height: 205px;
    left: 87px;
  }
  .skills .skills-cards .second-card .card-list1__img2 {
    width: 243px;
    height: 162px;
    top: 16px;
    left: 3px;
  }
  .skills .skills-cards .second-card .card-list1__text {
    width: 270px;
    margin-bottom: 56px;
  }
  .skills .skills-cards .second-card .card-list1__text2 {
    width: 250px;
    margin-bottom: 56px;
  }
  .skills .skills-cards .card-list3 {
    max-width: 616px;
    height: 241px;
    margin: 13px 0 0 13px;
    padding: 3px 0 30px 29px;
  }
  .skills .skills-cards .card-list3__img {
    width: 254px;
    height: 169px;
    top: 33px;
    left: 344px;
  }
  .skills .skills-cards .card-list3__text {
    width: 275px;
    margin-bottom: 37px;
  }
  .about {
    margin-top: 106px;
    margin-bottom: 125px;
  }
  .about-card {
    margin-right: 56px;
  }
  .about__title {
    font-size: 36px;
  }
  .about__text {
    font-size: 16px;
    line-height: 24px;
    width: 540px;
    margin-bottom: -20px;
  }
  .about__list li h3 {
    font-size: 30px;
  }
  .about__list li p {
    font-size: 16px;
  }
  .about img {
    margin-top: 35px;
    width: 336px;
    height: 336px;
  }
  .pricing {
    margin-bottom: 136px;
  }
  .pricing__title {
    font-size: 36px;
  }
  .pricing-cards .card-box {
    margin-top: 32.05px;
    margin-right: 20px;
  }
  .pricing-cards .card-box img {
    width: 222px;
    height: 222px;
    margin-bottom: 20px;
  }
  .pricing-cards .card-box2 {
    margin-top: 47px;
    margin-right: 20px;
  }
  .pricing-cards .card-box2 img {
    width: 267px;
    height: 195px;
    margin-bottom: 32px;
  }
  .pricing-cards .card-box2 p {
    margin-bottom: 47px;
  }
  .pricing-cards .card-box3 {
    margin-top: 10px;
  }
  .pricing-cards .card-box3 img {
    width: 242px;
    height: 242px;
    margin-bottom: 22px;
  }
  .pricing-cards .card-box3 p {
    margin-bottom: 48px;
  }
  .pricing-cards div img {
    padding-left: 15px;
  }
  .pricing-cards div h3 {
    font-size: 22px;
  }
  .pricing-cards div p {
    font-size: 16px;
    width: 300px;
  }
  .pricing-cards div a {
    font-size: 24px;
  }
  .pricing-cards div a span {
    font-size: 16px;
  }
  .footer-hero {
    margin-bottom: 194px;
  }
  .footer-hero img {
    width: 312px;
    height: 281px;
    margin-right: 55px;
  }
  .footer-hero .contact h2 {
    font-size: 36px;
  }
  .footer-hero .contact p {
    font-size: 16px;
    line-height: 24px;
    width: 400px;
    margin-bottom: 34px;
  }
  .footer-hero .contact input {
    font-size: 14px;
    padding: 18px 38px;
  }
  .footer-hero .contact .btn {
    font-size: 16px;
    padding: 16px 36px;
  }
  .footer-bottom {
    margin-top: 22px;
  }
  .footer-bottom img {
    width: 89px;
    height: 45px;
  }
  .footer-bottom ul {
    font-size: 16px;
  }
  hr {
    width: 929px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 690px;
  }
  .btn {
    font-size: 16px;
    padding: 14px 40px;
  }
  .site-header {
    display: none;
  }
  .header .check-bars {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 39px;
  }
  .header .check-bars .site-nav__list {
    display: block;
    position: absolute;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, #FEFCF7), color-stop(60.94%, rgba(254, 252, 247, 0.504981)));
    background: linear-gradient(180deg, #FEFCF7 55%, rgba(254, 252, 247, 0.504981) 60.94%);
    width: 690px;
    height: 577px;
    left: 0;
    padding-top: 40px;
    text-align: center;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    opacity: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .check-bars .check {
    visibility: hidden;
  }
  .header .check-bars .check:checked ~ .site-nav__list {
    opacity: 1;
  }
  .site-hero .hero-list__icon {
    width: 50.95px;
    height: 50.95px;
    left: 256px;
    top: 161px;
  }
  .site-hero .hero-list__title {
    font-size: 36px;
    width: 217px;
    line-height: 45px;
  }
  .site-hero .hero-list__text {
    font-size: 16px;
    width: 300px;
    margin-bottom: 51px;
    line-height: 24px;
  }
  .site-hero .hero-list__link {
    padding: 19px 67px;
  }
  .site-hero__img {
    margin-top: 50px;
    width: 352px;
    height: 352px;
  }
  .skills {
    margin-top: 56px;
  }
  .skills-title {
    font-size: 30px;
    margin-bottom: 37px;
  }
  .skills p {
    font-size: 13px;
    line-height: 20px;
  }
  .skills-cards .card-list {
    width: 170px;
    padding: 247px 0 37px 17px;
  }
  .skills-cards .card-list__img {
    width: 180px;
    height: 200px;
    top: 31px;
    left: 1px;
  }
  .skills-cards .card-list__text {
    width: 120px;
    margin-bottom: 60px;
  }
  .skills-cards .second-card .card-list1 {
    width: 170px;
    padding: 182px 10px 27px 19px;
    margin-left: 10px;
  }
  .skills-cards .second-card .card-list1__img {
    width: 140px;
    height: 200px;
    top: 14px;
    left: 3px;
  }
  .skills-cards .second-card .card-list1__img2 {
    width: 140px;
    height: 144px;
    top: 34px;
    left: 0;
  }
  .skills-cards .second-card .card-list1__text {
    width: 50px;
    margin-bottom: 56px;
  }
  .skills-cards .second-card .card-list1__text2 {
    width: 50px;
    margin-bottom: 56px;
  }
  .skills-cards .card-list3 {
    max-width: 452px;
    height: 210px;
    margin: 10px 0 0 10px;
    padding: 3px 0 30px 22px;
  }
  .skills-cards .card-list3__img {
    width: 202px;
    height: 134px;
    top: 59px;
    left: 258px;
  }
  .skills-cards .card-list3__text {
    width: 235px;
    margin-bottom: 10px;
  }
  .about {
    margin-top: 52px;
    margin-bottom: 88px;
  }
  .about-card {
    margin-right: 46px;
  }
  .about__title {
    font-size: 30px;
  }
  .about__text {
    font-size: 16px;
    line-height: 14px;
    width: 321px;
    line-height: 21px;
    margin-bottom: -20px;
  }
  .about__list li h3 {
    font-size: 22px;
  }
  .about__list li p {
    font-size: 13px;
  }
  .about img {
    margin-top: 75px;
    width: 295px;
    height: 295px;
  }
  .pricing {
    margin-bottom: 94px;
  }
  .pricing__title {
    font-size: 30px;
  }
  .pricing-cards .card-box {
    margin-top: 31px;
    margin-right: 20px;
  }
  .pricing-cards .card-box img {
    width: 197px;
    height: 197px;
    margin-bottom: 20px;
  }
  .pricing-cards .card-box2 {
    margin-top: 61px;
    margin-right: 20px;
  }
  .pricing-cards .card-box2 img {
    width: 219px;
    height: 168px;
    margin-bottom: 20px;
  }
  .pricing-cards .card-box2 p {
    margin-bottom: 43px;
    margin-top: 42px;
  }
  .pricing-cards .card-box3 {
    margin-top: 26px;
  }
  .pricing-cards .card-box3 img {
    width: 210px;
    height: 210px;
    margin-bottom: 10px;
  }
  .pricing-cards .card-box3 p {
    margin-bottom: 46px;
    margin-top: 42px;
  }
  .pricing-cards div img {
    padding-left: 15px;
  }
  .pricing-cards div h3 {
    font-size: 20px;
  }
  .pricing-cards div p {
    font-size: 14px;
    width: 200px;
  }
  .pricing-cards div a {
    font-size: 24px;
  }
  .pricing-cards div a span {
    font-size: 16px;
  }
  .footer-hero {
    margin-bottom: 194px;
  }
  .footer-hero img {
    width: 233px;
    height: 210px;
    margin-right: 38px;
  }
  .footer-hero .contact h2 {
    font-size: 30px;
  }
  .footer-hero .contact p {
    font-size: 14px;
    line-height: 21px;
    width: 400px;
    margin-bottom: 25px;
  }
  .footer-hero .contact input {
    font-size: 14px;
    padding: 18px 38px;
  }
  .footer-hero .contact .btn {
    font-size: 16px;
    padding: 16px 36px;
  }
  .footer-bottom {
    margin-top: 22px;
  }
  .footer-bottom img {
    width: 89px;
    height: 45px;
  }
  .footer-bottom ul {
    font-size: 13px;
  }
  hr {
    width: 690px;
  }
}
/*# sourceMappingURL=styles.css.map */