.cards {
    width: 100%;
    background-color: $cardsbgColor;
    border-radius: 10px;
    position: relative;
    img {
        position: absolute;
    }
    h3 {
        @include listTitle;
    }
    p {
        @include text;
        font-size: 18px;
    }
}